USE [master]
GO
/****** Object:  Database [quizletDB]    Script Date: 12/9/2020 10:49:53 PM ******/
CREATE DATABASE [quizletDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quizletDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\quizletDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quizletDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\quizletDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quizletDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quizletDB]
GO
/****** Object:  User [quizlet]    Script Date: 12/9/2020 10:49:54 PM ******/
CREATE USER [quizlet] FOR LOGIN [quizlet] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[classcard]    Script Date: 12/9/2020 10:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classcard](
	[classid] [varchar](6) NOT NULL,
	[classname] [nvarchar](100) NULL,
	[detail] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[classid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flashcard]    Script Date: 12/9/2020 10:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flashcard](
	[flashcardid] [varchar](6) NOT NULL,
	[classid] [varchar](6) NOT NULL,
	[flashcardtitle] [nvarchar](100) NULL,
	[descriptioncard] [nvarchar](250) NULL,
	[image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[flashcardid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hangtonkho]    Script Date: 12/9/2020 10:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hangtonkho](
	[id_hangtonkho] [int] NOT NULL,
	[id_sanpham] [int] NOT NULL,
	[soluong] [int] NULL,
	[luong_toithieu] [int] NULL,
	[luong_toida] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hangtonkho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[memberinfo]    Script Date: 12/9/2020 10:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memberinfo](
	[userid] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[userpassword] [nvarchar](50) NOT NULL,
	[fullname] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 12/9/2020 10:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[id_sanpham] [int] NOT NULL,
	[ten_sanpham] [varchar](50) NOT NULL,
	[phan_loai] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[flashcard]  WITH CHECK ADD  CONSTRAINT [FK_idclass] FOREIGN KEY([classid])
REFERENCES [dbo].[classcard] ([classid])
GO
ALTER TABLE [dbo].[flashcard] CHECK CONSTRAINT [FK_idclass]
GO
ALTER TABLE [dbo].[hangtonkho]  WITH CHECK ADD  CONSTRAINT [fk_htk_id_sanpham] FOREIGN KEY([id_sanpham])
REFERENCES [dbo].[sanpham] ([id_sanpham])
GO
ALTER TABLE [dbo].[hangtonkho] CHECK CONSTRAINT [fk_htk_id_sanpham]
GO
USE [master]
GO
